.feature_row_1 {
  display: flex;
  column-gap: 2rem;
  padding: 2rem 0;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .feature_row_1 {
    display: flex;
    column-gap: 2rem;
    padding: 2rem 0;
    justify-content: center;
    flex-direction: column;
  }
}
