.telegram:hover {
  background-color: #0088cc;
  color: "white";
  transition: 0.25s all;
}
.twitter:hover {
  background-color: #1da1f2;
  color: "white";
  transition: 0.25s all;
}

.discord:hover {
  background-color: #5865f2;
  color: "white";
  transition: 0.25s all;
}

.medium:hover {
  background-color: #92a9bd;
  color: "white";
  transition: 0.25s all;
}
.socials_l {
  height: 50px;
  width: 50px;
}

.footer_but_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem 0 2rem 0;
  column-gap: 5rem;
}

.foot-box {
  transform: "translateY(-50%)";
}

hr {
  border-bottom: 0.25px solid #0b111b;
  margin: 2rem 8rem;
}

.footer_end_l {
  padding: 0rem 8rem 2rem 8rem;
  color: #0b111b;
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-content: center;
  align-items: center;
}

.footer_content_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 3rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .footer_end_l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }

  .footer_but_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  hr {
    width: 60%;
    margin: 2rem auto;
  }

  .footer_content_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer_but_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 1rem;
  }
  .footer_content_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hide_border {
  border-right: 2px dashed white;
}

@media screen and (max-width: 768px) {
  .hide_border {
    border: none;
  }
  .socials_l {
    height: 25px;
    width: 25px;
  }
  .foot-box {
    transform: "translateY(20%)";
  }
}

.glow-text {
  text-shadow: 2px 2px 12px white, -1px -1px 2px white;
  animation: glow 2s infinite;
}

@keyframes glow {
  25% {
    text-shadow: 1px 1px 2px white, -1px -1px 1px white;
  }
}
