.road_map_text_colors {
  color: #02ffd1;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

.hide_border {
  border-right: 2px dashed white;
}

@media screen and (max-width: 990px) {
  .hide_border {
    border: none;
  }
}

@keyframes glow {
  25% {
    text-shadow: 1px 1px 2px white, -1px -1px 1px white;
  }
}

.desk_view {
  display: flex;
  justify-content: center;
}

.mobile_view {
  display: none;
}

@media screen and (max-width: 768px) {
  .desk_view {
    display: none;
  }
  .mobile_view {
    display: flex;
  }
}

.glow-text {
  text-shadow: 2px 2px 12px rgba(255, 255, 255, 0.3), -1px -1px 2px white;
  animation: glow 2s infinite;
  font-size: 4rem;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  padding: 1.25rem 0 0 0;
}
